/* src/index.css */

/* Reset margin and set background color */
body {
  margin: 0;
  font-family: 'Lexend', sans-serif; /* Tailwind's Lexend font will be used here */
  background-color: white;  /* White background for the app */
}

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom font import for Poppins and Lexend */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Lexend:wght@400;600&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
